*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*--------Header------- */
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(image/banner.png);
    background-size: cover;
}

/* -----Nav bar----- */
.header nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    align-items: center;
    padding-top: 40px;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    padding: 8px 14px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
nav ul li a::after{
    content: '';
    background: rgb(248, 84, 56);
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    }
.header nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

/* -----Logo img----- */
.logo img{
    width: 150px;
}

#open{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#close{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

nav input[type=checkbox]{
    display: none;
}

.text{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.text h1{
    font-size: 50px;
}
.text p{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
}
.btn{
    text-decoration: none;
    color: white;
    font-size: 14px;
    border: 1px solid white;
    padding: 15px 30px;
    margin-top: 30px;
}
.btn:hover{
    border: 1px solid rgb(248, 84, 56);
    background: rgb(248, 84, 56);
    transition: 0.5s;
    border-radius: 5px;
}

/* -------Responsive Menus--------3 */
@media(max-width: 700px){
    .text h1{
        font-size: 20px;
    }
    .text p{
        font-size: 12px;
    }
    .btn{
        font-size: 12px;
        padding: 12px 10px;
    }
    nav ul{
        position: fixed;
        top: 40px;
        right: -100%;
        height: 80vh;
        width: 180px;
        background: rgb(248, 84, 56);
        display: inline-block;
        transition: all 0.5s ease;
        border-radius: 5px;
        box-sizing: border-box;
        flex-basis: 45%;
        z-index: 2;
    }
    nav ul li{
        padding: 12px 30px;
        margin: 12px;
    }
    
    #open{
        display: block;
    }
    #close{
        margin-left: 140px;
        margin-top: 10px;
    }
    #click:checked ~ .menu{
        right: 0%;
    }
    #click:checked ~ label #open{
        display: none;
    }
    #click:checked ~ .menu label #close{
        display: block;
        
    }
}

/* -------Course------- */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:  100px;
}
.course h1{
    font-size: 35px;
    font-weight: 600;
}
.course p{
    font-size: 15px;
    font-weight: 350;
    padding: 10px;
    color: lightslategrey;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 30%;
    background: rgb(253, 242, 242);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 15px gray;
}

/* -------Responsive Course------ */
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* -------Campus------- */
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:  100px;
}
.campus h1{
    font-size: 35px;
    font-weight: 600;
}
.campus p{
    font-size: 15px;
    font-weight: 350;
    padding: 10px;
    color: lightslategrey;
}
.campus-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    transition: 0.5s;
}
.layer:hover{
    background: rgba(253, 40, 40, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 47%;
    opacity: 1;
}

/* -------Facilities */
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities h1{
    font-size: 35px;
    font-weight: 600;
}
.facilities p{
    font-size: 15px;
    font-weight: 350;
    padding: 10px;
    color: lightslategrey;
}
.facilities-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0%;
}
.facilities-col h3{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

/* --------Testimonials------- */
.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.testimonials h1{
    font-size: 35px;
    font-weight: 600;
}
.testimonials p{
    font-size: 15px;
    font-weight: 350;
    padding: 10px;
    color: lightslategrey;
}
.testimonials-col{
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 5%;
    background: rgb(253, 242, 242);
    text-align: left;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 15px;
    font-weight: 450;
}
.testimonials-col i{
    color: rgb(221, 169, 37);
}

/* -------Call to Action------- */
.cta{
    margin:100px auto;
    width: 80%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/image/banner2.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    border-radius: 10px;
}
.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
    text-transform: capitalize;
}

/* ----------Footer--------- */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons i{
    color: rgb(24, 155, 199);
    padding: 18px;
    font-size: 27px;
    cursor: pointer;
}
.fa-heart{
    color: red;
}


/* --------About us page */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/image/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    align-items: center;
    padding-top: 40px;
}

.sub-header nav ul{
    display: flex;
}
.sub-header nav ul li{
    list-style-type: none;
    padding: 8px 14px;
}
.sub-header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.sub-header nav ul li a::after{
    content: '';
    background: rgb(248, 84, 56);
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    }
.sub-header nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}
.sub-header h1{
    margin-top: 50px;
    font-size: 30px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 45%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.exp-btn{
    border: 1px solid rgb(248, 84, 56);
    background: transparent;
    color: rgb(248, 84, 56);
}
.exp-btn:hover{
    color: white;
}

@media(max-width: 700px){
    .sub-header nav ul{
        position: fixed;
        top: 40px;
        right: -100%;
        height: 80vh;
        width: 180px;
        background: rgb(248, 84, 56);
        display: inline-block;
        transition: all 0.5s ease;
        border-radius: 5px;
        box-sizing: border-box;
        flex-basis: 45%;
        z-index: 2;
        text-align: left;
    }
    .sub-header nav ul li{
        padding: 12px 30px;
        margin: 12px;
    }
    #open{
        display: block;
    }
    #close{
        margin-left: 140px;
        margin-top: 10px;
    }
    #click:checked ~ .menu{
        right: 0%;
    }
    #click:checked ~ label #open{
        display: none;
    }
    #click:checked ~ .menu label #close{
        display: block;
        
    }
    
}
    
/* -------blog page content */

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: lightslategrey;
}

.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: rgb(248, 84, 56);
    color: white;
    padding: 7px 0;
    font-size: 17px;
    text-align: center;
    word-spacing: 5px;
    margin-bottom: 25px;
    margin-top: 0;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
    color: grey;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 25px;

}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;  
    margin: 15px 0;  
    box-sizing: border-box;
    border: none;
    outline: none;
    background: rgb(241, 241, 240);
    resize: none;
}
.comment-form button{
    margin: 10px 0;
}

@media(max-width: 700px){
    .blog-content{
        flex-direction: column;
        width: auto;
    }
    .sub-header h1{
        font-size: 24px ;
    }
}

/* -------contact us page-------- */
.location{
    width: 80%;
    margin: auto;
    padding: 90px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin:auto;
}
.contact-col{
    flex-basis: 40%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div #fa{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 30px;
    color: rgb(24, 155, 199);
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin: 5px;
    color: rgb(100, 99, 99);
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    margin: 12px -27px;
    padding: 12px;
    outline: none;
    border: 1px solid lightgrey;
    resize: none;
}
.contact-col form button{
    margin-left: -27px;
    margin-top: 12px;
}

